{% extends "base.j2" %}

{% set title = "Prohlížeč záloh"%}

{% set hide_sidebar = true %}

{% block head %}
<script src="{{url_for('static', filename='js/jstree.min.js')}}" defer></script>
<script src="{{url_for('static', filename='js/backup_explorer.js')}}" defer></script>
<script src="{{url_for('static', filename='js/js7z.js')}}" defer></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
{% endblock %}

{% block content %}

<div class="h-screen max-h-screen w-screen grid-cols-4 grid p-4 gap-4">
  <div class="bg-white/5 border border-white/40 min-h-0 rounded-xl h-full col-span-1 max-h-full">
    <div id="nav-tree-container" class="h-full min-h-0 max-h-full overflow-auto">
    </div>
  </div>
  <div class="bg-white/5 border border-white/40 min-h-0 rounded-xl h-full col-span-3 max-h-full" id="main-area">
    {% include "backups/explorer/loading.j2" %}
    {% include "backups/explorer/pageinfo.j2" %}
    {% include "backups/explorer/pagesource.j2" %}
  </div>
</div>

{% endblock content %}