<template id="extra-link-tab-tpl">
<div id="linktab" class="border-white border bg-black flex flex-col items-center justify-start absolute">

</div>
</template>

<template id="extra-link-row-tpl">
<tr class="h-12">
    <td id="link" data-label="Odkaz:"></td>
    <td id="desc" data-label="Popis"></td>
</tr>
</template>