<div id="page-info-screen" class="flex w-full h-full flex-col gap-2 p-4">
  <span>
    <p class="inline text-lg font-light">Název: </p>
    <p id="pageinfo-title" class="inline text-lg"></p>
  </span>
  <span>
    <p class="inline text-lg font-light">Identifikátor: </p>
    <p id="pageinfo-slug" class="inline text-lg"></p>
  </span>
  <span>
    <p class="inline text-lg font-light">Verze: </p>
    <p id="pageinfo-version" class="inline text-lg"></p>
  </span>
  <span>
    <p class="inline text-lg font-light">Hodnocení během zálohy: </p>
    <p id="pageinfo-rating" class="inline text-lg"></p>
  </span>
  <span>
    <p class="inline text-lg font-light">Globální ID: </p>
    <p id="pageinfo-globalid" class="inline text-lg"></p>
  </span>
  <span id="pageinfo-tags" class="flex flex-row gap-3">
    <p class="inline text-lg font-light">Štítky: </p>
    <span class="inline p-1 bg-white/5 border-white/20 text-sm border">Amogusovni</span>
    <span class="inline p-1 bg-white/5 border-white/20 text-sm border">Keter</span>
    <span class="inline p-1 bg-white/5 border-white/20 text-sm border">Ceske</span>
  </span>
</div>