<div id="loading-screen" class="flex w-full h-full items-center justify-center flex-col gap-2">
  <h1 class="text-xl" id="source-title">Revize 420671337</h1>
  <span>
    <p class="inline text-lg font-light">Datum: </p>
    <p id="pageinfo-slug" class="inline text-lg">13.07.2026</p>
  </span>
  <span>
    <p class="inline text-lg font-light">Poznámka: </p>
    <p id="pageinfo-slug" class="inline text-lg italic">Jedu jako amogus</p>
  </span>
</div>